@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-orange: rgba(236, 103, 36, 1);

  --clr-neutral-600: rgba(217, 217, 217, 1);
  --clr-neutral-700: rgba(170, 170, 170, 1);
  --clr-neutral: rgba(0, 0, 0, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  color: var(--clr-brown-cafe);
}

li {
  color: var(--clr-brown-cafe);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

input {
  all: unset;
  box-sizing: border-box;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

//typo
h1 {
  font-size: 36px;
}
